<h1>Editing Team</h1>

<div id="team_name"> Team </div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>

  </thead>

  <tbody id="team_edit">



  </tbody>
</table>

<div class='move'><%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %></div>
