<h3>Editing Team</h3>

<div id="team_name"> Team </div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>

  </thead>

  <tbody id="team_edit">



  </tbody>
</table>
