<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Email</th>
      <th>Action</th>
    </tr>

  </thead>

  <tbody>



  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
