<p id="notice"><%= notice %></p>

<h3>Teams</h3>

<div id="business-process-name"><b>Process Name</b> </div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Email</th>
      <th>Action</th>
    </tr>

  </thead>

  <tbody id="team_edit">



  </tbody>
</table>

<br>


<button class="btn btn-primary" id="process-next">Next</button>
