

<table id='status-table'>
<thead>
  <tr>
    <th>Status</th>
    <th>Process</th>
    <th>Created</th>
    <!-- <th>Action</th>
    <th>Customer</th>
    <th>Assigned</th> -->
  </tr>
</thead>



<tbody id='queue-body' >
  <% @result.each do |item|%>
  <%= <tr><td>item["status"]</td><td>item["title"]</td><td>item["created_at"]</td>  </tr>%>
  <% end%>

</tbody>

</table>
