



  <div id="searchfield">


<form><input type="text" name="user" class="biginput" id="autocomplete" placeholder="Search by Customer Last Name"></form>
</div>
<h4>Comment:</h4>
<button id='queue-escalate' class='queue-button'>Escalate</button>
<button id='queue-forward' class='queue-button'>Forward</button>
<button id='queue-save' class='queue-button'>Save</button>
<button id='work-item-cancel' class='queue-button'>Cancel</button>
<div>


<textarea rows="10" cols="50" id='queue-comment'></textarea>
</div>
