<p id="notice"><%= notice %></p>

<h1>Work Items</h1>

<div>
  Comment:
  <button id='queue-back' class='queue-button'>Back</button>
  <button id='queue-escalate' class='queue-button'>Escalate</button>
  <button id='queue-forward' class='queue-button'>Forward</button>
  <button id='queue-save' class='queue-button'>Save</button>
</div>
<div>
  <textarea rows="6" cols="50" id='queue-comment'>
</textarea>
</div>
<div id='customer-info'>
  Customer

</div>
<table>
  <thead>
    <tr>
      <th>Date in Queue</th>
      <th>Created</th>
      <th>Team</th>
      <th>Action</th>
      <th>Customer</th>
      <th>Assigned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='queue-body'>

  </tbody>
</table>
<div>
  <div>
  History:
  </div>
  <textarea rows="6" cols="50" id='queue-history'>
</textarea>
</div>


<br>

<%= link_to 'New Work Item', new_work_item_path %>
