<h3>Editing Process Flow</h3>

<%= render 'form', process_flow: @process_flow %>

<%= link_to 'Show', @process_flow, class: "btn btn-primary", style: "color: white" %> |
<%= link_to 'Back', process_flows_path, class: "btn btn-primary", style: "color: white" %>
