<p id="notice"><%= notice %></p>

<h3>Process Flows</h3>


<div id="business-process-name"><b>Process Name</b></div>

<table class="process-table">
  <thead>
    <tr>
      <th>Step</th>
      <th>Team Name</th>

    </tr>
  </thead>

<tbody id='process_flow_body'>

</tbody>

</table>

<br>


<button class="btn btn-primary" id="back-to-teams">Back</button>
<button class="btn btn-primary" id="finish">Finish</button>
