<p id="notice"><%= notice %></p>

<h1>Process Flows</h1>


<div id="business-process-name"><b>Process Name</b></div>

<table class="process-table">
  <thead>
    <tr>
      <th>Step</th>
      <th>Team Name</th>

    </tr>
  </thead>

<tbody>

</tbody>

</table>

<br>


<button class="btn btn-primary" id="back-to-teams">Back</button>
