// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_specs{
  float: left;

}



.body{
  position: relative;
}

.actions{
  position: absolute;
  bottom: 10%;
}

.move{
  position: absolute;;
  bottom: 16%;
}
